titel{
    display: none;
}

body {
    overflow-x: hidden;
}


html, body, #map-canvas, .container-fluid, .overlayer{
        height: 100%;
}
.container-fluid{
    z-index: -1000000;
    padding: 0;
}

#map-canvas{
    left: 0;
    right: 0;
    overflow: hidden;

}

.overlayer{
    top:0;
    left:0;
    z-index: 1;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    padding-top: 20%;
}


h1{
    font-size: 8em;
}
.titleblock{
    display: inline-block;
    background-color: rgba(255,255,255,0.5);
    padding: 15px;
}
hr{
    border-color:#333;
    width: 50px;
}

.gmnoprint{
    display: none;
}

.hell{
    background-color: #fff;
}
    
.dunkel{
    background-color: #eee;
}

.center{
    text-align: center;
}
.top{
    padding-top: 150px;    
}
.tops{
    padding-top: 50px;    
}
.bottom{
    margin-bottom: 150px;    
}
img{
    width: 100%;
}
.btn:hover{
    img{
        display: none;
    }
}
.gpslist{
    list-style-type:disc;
    font-size: 22px;
}
.gpslist>li{
    margin-top: 10px;
    margin-bottom: 20px;
}
.minheight{
    min-height: 1000px;
}